html,
body {
  padding: 0;
  margin: 0;
  background: #13444b;
}
#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: none;
  align-items: center;
  justify-content: center;
}

.filterOption {
  cursor: pointer;
  display: inline-block;
  user-select: none;
  outline-color: #6fac96;
  padding-left: 15px ;
  padding-right: 15px;
  outline-offset: 2px;
  border-radius: px;
  margin: 3px;

}

.filterOption.active {
  background-color: #5c9d86;  /* or any color of your choice */
  color: white;
}

.filterOption:hover {
  background-color: #5c9d86bd;  /* or any color of your choice */
  color: white;
}


.navbar {
  height: 50px;
}
.flex-column {

  width: 100% !important;
  align-items: flex-end;
  padding-right: 15px;
}

.btn {
  border-radius: 0px;
  background-color: #13444b;
}

.btn.active {
  border-radius: 0px;
  background-color: #6ea572 !important;
}
.button.active {
  border-radius: 0px;
  background-color: #6ea572 !;
}

.btn:hover {
  border-radius: 0px;
  background-color: #5c9d8675;
}

.btn-altdark2 {
  margin-left: 10%;
  font-size: 14px;
  font-weight: 400;
  border:#5c9d86;
  border-radius: 0px;
  color: white;
  outline-color: #6fac96;
  outline-width: 1px;
  outline-style: solid;
  left: 0;
  justify-content: left;
  align-items: left;
  background-color: #207380 ;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.4s;
  margin-left: 15px;
  transform: translateY(-4px);
}

.navnbar {
  padding-right: 50px;
}
.dropdown-nav {
  display: none;
}
.dropdown {
  padding-left: 3px;
  margin-right: 5px;
}
.dropdown-menu {
  margin-right: 30px;
  margin-left: 3px;
}

.dropdown-menu.show {
  margin-right: 30px;

}
@media (max-width: 900px) {
  .navbar-brand img {
      width: 150px;
  }
}


@media (max-width: 1375px) {
  /* Hide regular nav items */
  .navbar-break {
      display: none !important;
  }
  
  /* Show the dropdown */
  .dropdown-nav {
      display: block !important;
  }
}

@media (min-width: 1201px) and (max-width: 1300px) {
  /* Hide regular nav items */
  .nav-items {
      display: none;
  }
  
  /* Show the dropdown */
  .dropdown-nav {
      display: block;
  }
}

.navbar-toggler {
color: #ffffff !important;

}
.logo {
  margin-left: auto;
  padding-right: 10px;

}

.horizontal-line {
  top: 48%;
  left: 48%;
  
  height: 1px;
  background-color: #ccc; /* Adjust the color as needed */
  margin: 10px auto; /* Center the line horizontally */
}

.overlay {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(202, 248, 246, 0.637); /* Semi-transparent black */
  z-index: 999; /* Place the overlay behind the popup */
  transition: opacity 0.3s ease;
}

.popup {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #13444b;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.popup-content {
  text-align: center;
}

#closePopup {
  margin-top: 10px;
}

.navbar-nav .nav-link {
  color: white; /* Change to your desired color */
  display: flex;
  align-content: flex-start;
  margin-left: 13px;
}
.dropdown {
  padding-right: 50px ;
}
.navbar-nav-center {
      display: flex;
      padding-left: 300px;
      margin-left: auto;
      transform: translateX(-150px);
      
    }

.top-bar {
  background-color: #207380; /* Change the background color as desired */
  display: flex;
  flex-direction: row;
  padding-left: 150px;
  padding-right: 50px ;
  height: 40px;
 
}

.center-top-btn {
  position: absolute;
  top: 2%; 
  left: 50%;
  transform: translateX(-50%);
}
.arrow-icon {
  margin-left: 95px;         /* Spacing between the button and the arrow */
  
  vertical-align: middle;   /* Align it with the button and boundary layers */
  filter: invert(0%);    
}
#toggleClustering {
  justify-content: left;
  align-items: left !important;
  left: 0 !important;
  outline-color: #6fac96;
  outline-width: 1px;
  outline-style: solid;
  font-weight: 400;
}

.toggle-clust:hover {
  background-color: #5c9d8666;
  outline-color: #6fac96;
  outline-width: 1px;
  outline-style: solid;
}
.toggle-clust {
  /* Button Default State */
  font-size: 14px;
  font-weight: 400;
  border:#5c9d86;
  border-radius: 0px;
  color: white;

  justify-content: left;
  align-items: left;
  transform: translateX(16px);
  background-color: #207380 ;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.4s;
  margin-left: 0px;
}



.toggle-clust.active {
  /* Button Default State */
  background-color: #5c9d86;
  color: white;
}

.toggle-clust1:hover {
  background-color: #5c9d8666;
}
.toggle-clust1 {
  /* Button Default State */
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  border:#5c9d86;
  border-radius: 0px;
  color: white;
  margin-left: 15px;
  margin-right: auto;
  background-color: #20807b ;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.4s;
}



.toggle-clust1.active {
  /* Button Default State */
  background-color: #5c9d86;
  color: white;
  outline-color: #13444b;
  outline-width: 4px;
  outline-style: solid;

}
.navbar-nav.btn {
   /* Button Default State */
   left: 16px;
   right: 80%;
   font-size: 14px;
   font-weight: 700;
   border:#5c9d86 !important;
   border-radius: 5px;
   color: white;
   background-color: #207380 !important;
   cursor: pointer;
   text-align: center;
   transition-duration: 0.4s;
 }

#mapRow {
  z-index: 1;
}
#mapContainer {
  height: calc(100vh - (90px));
}

#infoDiv3 {
  width: 200px;
  padding-right: 20px;
  z-index: 9;
  background-color:#207380;
  padding: 5px;
}

#infoDiv2 {
  width: 400px;
  padding-right: 20px;
  z-index: 9;
  background-color:#207380;
  padding: 5px;
}
#infoDiv {
  width: 300px;
  padding: 5px;
  z-index: 9;
}

#layerToggleContainer {
  margin-left: 10px;
}
#filterDiv {
  margin-left: 10px;
  padding-top: 15px;
  height: 100vw;
  z-index: 9;
}
#legendDiv {
  background-color:  #13444b
  
}
#viewDiv {
  z-index: 1;
  height: calc(100vh - (90px));

}

#loadingDiv {
  background: #e3fff5;
  border-radius: 100%;
  padding:15px;
  border: #5c9d86;
  border-width: 80px;
  z-index: 1000;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}

h1 {
  color:#13444b;
  font-size: 14pt;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}
p {
  color: white;
  font-size: 11pt;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}

p2 {
  font-style: italic;
}
#selArea {

  position: absolute;
  left: 17%;
  font-size: 14px;
}

.styled-text {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 12pt;
  transform: translateY(+12px) !important;
}

#checkbox {
  margin: 10px;
}

p3 {
  color: white;
  font-size: 12pt;
  font-weight: bold;
  transform: translateY(-15px) !important;
  margin-top: 50x;
  margin-bottom: 24px !important;
  margin-left: 8px;
}

h2 {
  font-size: 14pt;
  font-style: italic;
}